body{
    background-image:url(jsa.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100vh;
    min-height: 100vh;
}   
.row{
    margin-top: 30%;
}

@media(max-width:1024px){
    body{
        background-size: contain;
    }
}

@media (max-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
        height: 15%;
    }
}

@media (max-width: 768px) {
    body{
        background-image: url(217.png);
        background-size: cover;
    }
    .row{
        margin-top: 50%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 40%;
        height: 25%;
    }
}

@media (max-width: 425px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 65%;
        height: 15%;
    }
}
.card{
    background-color: rgb(13, 62, 13);
    border-color: black;
    
}
.card-title{
    color: white;
    font-size: 25px;kerning: ;
}
.btn-primary{
    background-color: red;
}
.card:hover{
    transform: scale(1.04);
}
















































































































,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,/',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''/,,,,,,'////////////,,,,,'///////////////////////////////////////////////////////////,,,,,,,,,,,,,,,,,,,,,,,,,,,,''''''''''''''''''''''''''''',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, '